@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');
:root {
    --navBorderColor: #808080;
}


*{
    padding: 0;
    box-sizing: border-box;
    max-width: 1004px;
    margin: 0 auto;
}

/* the background of the website */
html{
    background-image: url('../img/bgNp.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #e6e4dd;

}


/* === Start of the header === */
/* the name of the website */
header h1{
    font-family: 'ChomskyRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 60px;
    padding: 5px;
    text-align: center;
    /* border: solid red; */
}

/* the menu bar */
nav{
    margin: 0 auto;
    padding: 0 0;
    width: 96%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    border-top: 2px solid var(--navBorderColor);
    border-bottom: 2px solid var(--navBorderColor);
}

nav a{
    font-family:"SimSun-ExtB";
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    border-radius: 3px;
    padding: 5px 10px;
    margin: 0;
}

nav a:hover {
    background: ;
    background-color: rgba(20, 20, 20, 0.699);
    color: white;
}

/* the header of the website */
.page-header h1 {
    margin: 0 auto;
    width: 96%;
    text-align: center;
    text-transform: uppercase;
    font-size: 120px;
    font-family: 'Segoe UI';
    font-weight: 450;
    padding: 0 0;
    border-bottom: 2px solid var(--navBorderColor);
    /* border: solid red; */
    letter-spacing: -12px;
}


/* === END OF HEADER ===  */

/* === START OF MAIN ===  */
main{
    width: 96%;
    margin: 0 auto;
    /* background-color: sandybrown; */
}

/* the upper part */
.upperPart{
    /* background: seagreen; */
    display: grid;
    grid-template-columns: 72% 28%;
}

/* the left section on the upper part */
.leftOne{
    /* background: skyblue; */
    padding: 10px;
    padding-left: 0;
    border-bottom: solid 2px black ;

}

.leftOne img{
    width: 200px;
    height: 285px;
    object-fit: cover;
    float: right;
    margin-left: 10px;
    margin-top: 10px;
}

.leftOne h1{
    font-family: "Bernard MT";
    font-size: 50px;
    font-stretch: condensed;
    font-weight: 400;
    line-height: 61px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.leftOne h2{
    font-family: "Bernard MT";
    font-size: 28px;
    font-stretch: condensed;
    font-weight: 400;
    line-height: 34px;
    text-align: justify;
    text-transform: uppercase;
}

.leftOne p{
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 14px;
    text-align: justify;
    /* background-color: burlywood; */
}




/* the right section on the upper part */
.rightOne{
    /* background: tomato; */
    padding: 10px;
    padding-right: 0;
    border-left: solid 2px black;
    border-bottom: solid 2px black ;

}

.rightOne h1{
    /* text-align: center; */
    font-family: "Nirmala UI";
    font-size: 28px;
    font-weight: 700;
    line-height: 37px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    background-color: rgba(0,0,0,0.8);
    padding: 8px 15px ;
    width: 80%;
}

.rightOne p{
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 14px;
    text-align: justify;
    letter-spacing: 1px;
    margin: 10px 0;
}

/* the lower part */
.lowerPart{
    /* background: rgb(79, 46, 139); */
    display: grid;
    grid-template-columns: 72% 28%;
}

.leftTwo{
    background: skyblue;
    padding: 8px 10px 0 10px;
    margin-bottom: 10px;
}

.leftTwo h1{
    font-family: "Bernard MT";
    font-size: 35px;
    font-stretch: condensed;
    font-weight: 400;
    line-height: 42px;
    text-transform: uppercase;
    letter-spacing: 2px;
}


.leftTwo #floatImg{
    width: 254.6px;
    height: 189.91px;
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 15px;

}

.leftTwo p{
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 14px;
    text-align: justify;
    /* float: left; */
    /* background-color: burlywood; */
}

/* the right section on the upper part */
.rightTwo{
    background: tomato;
    padding: 10px;
    padding-right: 0;
    border-left: solid 2px black;
    margin-bottom: 10px;

}

.rightTwo h1{
    /* text-align: center; */
    font-family: "Nirmala UI";
    font-size: 28px;
    font-weight: 700;
    line-height: 37px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    background-color: rgba(0,0,0,0.8);
    padding: 8px 15px ;
    width: 80%;
}

.rightTwo p{
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 14px;
    text-align: justify;
    letter-spacing: 1px;
    margin: 10px 0;
}
