@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');
:root {
    --navBorderColor: #808080;
}

* {
    padding: 0;
    box-sizing: border-box;
    max-width: 1004px;
    margin: 0 auto;
}

/* the background of the website */
html{
    background-image: url('../img/bgNp.png');
    background-repeat: no-repeat;
    background-size: cover;
}


/* === Start of the header === */
/* the name of the website */
header h1{
    font-family: 'ChomskyRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 60px;
    padding: 5px;
    text-align: center;
    /* border: solid red; */
}

/* the menu bar */
nav{
    margin: 0 auto;
    padding: 0 0;
    width: 96%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    border-top: 2px solid var(--navBorderColor);
    border-bottom: 2px solid var(--navBorderColor);
}

nav a{
    font-family:"SimSun-ExtB";
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    margin: 0;

}

nav a:hover {
    background: ;
    background-color: rgba(20, 20, 20, 0.699);
    color: white;
}

/* the header of the website */
.page-header h1 {
    margin: 0 auto;
    width: 96%;
    text-align: center;
    text-transform: uppercase;
    font-size: 120px;
    font-family: 'Segoe UI';
    font-weight: 450;
    padding: 0 0;
    border-bottom: 2px solid var(--navBorderColor);
    /* border: solid red; */
}

.page-header h2{
    margin: 0 auto;
    width: 96%;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Segoe UI';
    font-weight: 600;
    font-size: 30px;
    padding: 2px 0;
    /* border: solid red; */
}

/* === END OF HEADER ===  */

/* === START OF MAIN SECTION === */
/* the upper section part */
.upperPart{
    width: 96%;
    display: grid;
    grid-template-columns: 45% 27% 28%;
    margin-top: 15px ;
    margin-bottom: 15px;
    /* background-color: rgb(101, 101, 161); */
}


/* the styling of the image on the upper section part */
.upperPart img{
    width: 395px;
    height: 300px;
    margin: auto 2px 5px 0;
    object-fit: cover;
}

/* the content of the article on the upper section part */
.upperPart #one{
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 14px;
    text-align: justify;
    margin-left: -18px;
    margin-right: 10px;
    padding-right: 5px;
    width: auto;
    background-color: chocolate;
}

.upperPart #two{
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 14px;
    text-align: justify;
    width: auto;
    background-color: rgb(140, 60, 143);
}

/* the lower section part */
.lowerPart{
    width: 96%;
    
}


/* the heading 1 lower section part */
.lowerPart h1{
    font-family: "Bernard MT";
    font-size: 38px;
    font-stretch: condensed;
    font-weight: 500;
    line-height: 46px;
    text-align: center;
    letter-spacing: 2px;
    width: 50%;
}

/* the heading 1 lower section part */
.lowerPart h2{
    font-family: Tahoma;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;

}

.content{
    display: flex;
    flex: row;
    margin-top: 20px ;
    /* background-color: rgb(48, 136, 136); */

}
/* the left section of the lower section part */
.leftSection {
    width: 55%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    background: rgb(173, 137, 173);
}

.leftSection #p1{
    background: yellow;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    text-align: justify;
    margin: 0 0 30px 10px;

}

.leftSection #p2{
    background: slateblue;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    text-align: justify;
    margin: 0 10px 30px 10px;

}

.leftSection #p3{
    background-color: #201d1d;
    color: #ffffff;
    font-family: "NSimSun";
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-align: justify;
    padding: 20px 20px 0 20px;
    margin: 10px 10px 20px 10px;

}

.leftSection #p4{
    background: rgb(110, 197, 129);
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
    text-align: justify;
    letter-spacing: 3px;
    margin: 0 10px 10px 10px;
}



/* the right section of the lower section part */
.rightSection{
    background-color: rgb(187, 187, 60);
    width: 45%;
}
.rightSection #img1{
    width: 410px;
    height: 330px;
    object-fit: cover;
    margin: 0 10px 10px 10px ;
}

.rightSection #img2{
    width: 410px;
    height: 202px;
    object-fit: cover;
    margin: 10px 10px ;
    
}




