/* Import all the fonts */
@import url('https://fonts.googleapis.com/css2?family=Rancho&family=Reem+Kufi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Condensed:wght@700&display=swap');

/* set color #808080 as a variable */
:root {
    --navBorderColor: #808080;
}

/* reset the html and set max-width  */
*{
    padding: 0;
    box-sizing: border-box;
    max-width: 1004px;
    margin: 0 auto;
}

/* the background of the website */
html{
    background-image: url('../img/bgNp.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #e6e4dd;
}


/* === Start of the header === */
/* the name of the website styling */
header h1{
    font-family: 'ChomskyRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 60px;
    padding: 5px;
    text-align: center;
}

/* the menu bar styling*/
nav{
    margin: 0 auto;
    padding: 0 0;
    width: 96%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    border-top: 2px solid var(--navBorderColor);
    border-bottom: 2px solid var(--navBorderColor);
}

nav a{
    font-family:"SimSun-ExtB";
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    border-radius: 3px;
    padding: 5px 10px;
    margin: 0;
}

nav a:hover {
    background-color: rgba(20, 20, 20, 0.699);
    color: white;
}
/* === End of the header === */

/* === Start of the page-header section === */
/* the headline of the page */
.page-header h1 {
    margin: 0 auto;
    width: 96%;
    text-align: center;
    text-transform: uppercase;
    font-size: 120px;
    font-family: 'Segoe UI';
    font-weight: 450;
    padding: 0 0;
    border-bottom: 2px solid var(--navBorderColor);
    letter-spacing: 5px;
}

/* the sub-headline of the page */
.page-header h2{
    margin: 0 auto;
    width: 96%;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Segoe UI';
    font-weight: 600;
    font-size: 26px;
    padding: 2px 0;
}
/* === End of the page-header section === */


/* === START OF MAIN SECTION === */
main{
    display: flex;
    flex: row;
    width: 96%;
    margin: 5px auto;
}

/*+= Start of the left section of the page =+*/
/* the left section part styling*/
.left-section {
    width: 60%;
    margin: 0 auto;
    padding-right: 8px;
}

/* the myPortrait image on the left section part styling*/
.left-section img{
    width: 100%;
    height: 350px;
    object-fit: cover;
}

/* the title of the article on the left section part */
.left-section h2{
    font-family: 'Reem Kufi', sans-serif;
    font-size: 30px;
    font-weight: 650;
    color: black;
    padding-top: 5px;
}

/* the name of the image on the left section part */
.left-section #nameOfPic1{
    font-family: "Reem Kufi";
    font-size: 9.5px;
    font-weight: 600;
    line-height: 12px;
    text-transform: uppercase;
    text-align: left;
    color: black;
    padding-top: 4px;
    border-top: 0.5px dashed var(--navBorderColor);
    margin-top: -8px;
}

/* the information of the image on the left section part */
.left-section #infoOfPic1{
    font-family: "Reem Kufi";
    font-size: 9px;
    font-weight: 400;
    line-height: 12px;
    text-transform: uppercase;
    text-align: left;
    color: black;
    padding-bottom: 2px;
    margin-top: -2px;
    border-bottom: 0.5px dashed var(--navBorderColor);
}

/* the content on the left section part styling */
.contentOfLeftSection {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    text-align: justify;
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 10px auto;
}
.contentOfLeftSection #one{
    padding-right: 5px;
}
.contentOfLeftSection #two{
    padding-left: 5px;
}
/*+= End of the left section of the page =+*/


/*+= Start of the right section of the page =+*/
/* the right section part styling*/
.right-section {
    width: 40%;
    padding-left: 5px;

}

/* the myFamily image on the right section part styling*/
.right-section #familyPic{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

/* the caption of the image on the right section part */
.right-section h2{
    font-family: 'Rancho', cursive;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: left;
    color: black;
    padding-bottom: -3px;
    border-bottom: 2.5px solid black;
    margin-top: 3px;
}

/* the title of the article on the right section part */
.right-section h1{
    font-family: 'Reem Kufi', sans-serif;
    font-size: 25px;
    font-weight: 650;
    color: black;
    padding-top: 5px;
    margin-top: -2px;
}

/* the name of the image on the right section part */
.right-section #nameOfPic2{
    font-family: "Reem Kufi";
    font-size: 8.5px;
    font-weight: 600;
    line-height: 10px;
    text-transform: uppercase;
    text-align: left;
    color: black;
    padding-top: 4px;
    border-top: 0.5px dashed var(--navBorderColor);
    margin-top: -8px;
}

/* the information of the image on the right section part */
.right-section #infoOfPic2{
    font-family: "Reem Kufi";
    font-size: 8px;
    font-weight: 400;
    line-height: 10px;
    text-transform: uppercase;
    text-align: left;
    color: black;
    padding-bottom: 2px;
    margin-top: -2px;
    border-bottom: 0.5px dashed var(--navBorderColor);
}

/* the content on the right section part styling */
.contentOfRightSection{
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 15.5px;
    text-align: justify;
    margin: 5px auto
}

/*+= Start of the quotes section of the page =+*/
.quotes{
    display: grid;
    grid-template-rows: auto auto auto;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 8px;
}

/* the link hover styling */
.quotes a{
    color: black;
    text-decoration: none;
}
.quotes a:hover{
    font-size: 105%;
    text-decoration: underline;
}

/* the first quote on the quotes section part */
.firstQuote{
    display: grid;
    grid-template-columns: 60% 40%;
    margin-top: 8px;
}
.firstQuote #img1{
    width: 100%;
    height: 118px;
    object-fit: cover;
    margin: 0;
    padding-right: 8px;
}
.firstQuote #quote1 {
    font-family: 'Cabin Condensed', sans-serif;
    font-size: 24px;
    text-align: right;
    padding-right: 5px;
    background: rgba(138,128,128,0.3);
}

/* the second quote on the quotes section part */
.secondQuote{
    display: grid;
    grid-template-columns: 33% 67%;
    margin-top: 10px;
}
.secondQuote #quote2{
    font-family: 'Cabin Condensed', sans-serif;
    font-size: 24px;
    padding-top: 3px;
    padding-left: 5px;
    background: rgba(138,128,128,0.3);
}
.secondQuote #img2{
    width: 100%;
    height: 125px;
    object-fit: cover;
    margin-right: 0;
    padding-left: 8px;
}

/* the third quote on the quotes section part */
.thirdQuote{
    display: grid;
    grid-template-columns: 67% 33%;
    margin-top: 10px;
}
.thirdQuote #img3{
    width: 100%;
    height: 118px;
    padding-right: 8px;
    object-fit: cover;
    /* background-color: mediumslateblue; */

}
.thirdQuote #quote3{
    font-family: 'Cabin Condensed', sans-serif;
    font-size: 24px;
    text-align: right;
    padding-right: 5px;
    background: rgba(138,128,128,0.3);
}
/*+= End of the quotes section of the page =+*/
/*+= End of the right section of the page =+*/
/* === END OF MAIN SECTION === */


/* Making the website responsive */
/* when the max-width is 900px and min-width is 650px */
@media screen and (max-width: 900px) and (min-width: 650px){
    .firstQuote, .secondQuote, .thirdQuote{
        display: flex;
        flex-direction: column;
    }
}

/* when the max-width is 650px */
@media screen and (max-width: 650px){
    main{
        display: flex;
        flex-direction: column;
    }
    .left-section, .right-section{
        width: 95%;
    }
    .right-section{
        margin-top: 15px;
    }
    .right-section #familyPic{
        height: 300px;
        margin: 0 auto;

    }
    .left-section img{
        margin: 0 auto;
    }
    .page-header h1{
        font-size: 50px;
        font-weight: 600;
    }
}

/* when the max-width is 430px */
@media screen and (max-width: 430px){
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    header h1{
        font-size: 30px;
    }

    .contentOfLeftSection{
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    .quotes #img1{
       margin-top: 8px;
    }
}
